@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.container{
  height: 100vh;
  background: #F7F8F9 0% 0% no-repeat padding-box;
  padding-left: 15px;
  padding-right: 15px;
}